<div class="container-fluid">
    <footer class=" bg-opacity-75 rounded-top-5">
        <div class="container px-3 px-md-5 py-5">
            <h5 class="h3">Get the FreshCart app</h5>
            <p>We will send you a link , open it on your phone to download the app</p>
            <div class="px-0 px-md-3">
                <div class="d-flex justify-content-between gap-4 gap-lg-4">
                    <input type="email" placeholder="Email .. " class="form-control w-75">
                    <button class="btn btn-main w-25 px-1 px-md-3 ms-lg-5 flex-shrink-0">Share App Link</button>
                </div>

                <div class="row justify-content-md-between  align-items-center py-3 mt-4 border-top border-bottom g-3">
                    <div class="col-md-6">
                        <div class="d-flex justify-content-center justify-content-md-start">
                            <h6 class="fw-bold align-self-end">Payment Partners</h6>
                            <img src="./assets/images/visa-1.svg" width="40" alt="visa icon">
                            <img src="./assets/images/master.svg" width="40" alt="visa icon">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="d-flex justify-content-center  justify-content-md-end">
                            <h6 class=" align-self-end">Get FreshCart App right NOW !</h6>
                            <a href=""><img src="./assets/images/app-store.svg" width="40" alt="visa icon"></a>
                            <a href=""><img src="./assets/images/google-store.svg" width="40"
                                    alt="visa icon"></a>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </footer>
</div>