@import '../../../styles.scss';

.dropdown-item{
    color: black;
    &:focus, &:hover{

        background-color: $main-lighter;
    }
}

.accountBtn{
    .userName{
        position: relative;
        transform: translateY(0%);
        &::before{
            content: 'Account';
            position: absolute;
            transform: translateY(-150%);
        }
    }
    #accountIcon{
        transition: 0.6s;
    }

    &:hover{
        #accountIcon{
            background-color: black;
            color: $main-bg;
        }
        .userName{
            transform: translateY(150%);
        }
    }
}
