<div class="container">

    <div class="section-title mb-3 mt-4 mt-md-0">Brands</div>
    
        <div class="row g-4">
            <div class="col-6 col-lg-3 col-xl-2" *ngFor="let item of brandsData">
                <div class="product card pointer" >
                    <div>
                        <div class="card-img-top px-5 px-md-3">
                            <img [src]="item.image" class="w-100" [alt]="'image of ' + item.name + ' Brand'">
                        </div>
                        <div class="px-3 pt-2 pb-0 mb-0">
                            <h5 class="card-title text-center">{{item.name}}</h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    
        <nav class="pageNav mt-5" aria-label="Page navigation example">
            <ul class="pagination mx-auto">
                <button class="btn pagination-item" (click)="getBrandsByPages(currentPage-1)" type="button" [disabled]="currentPage == 1">
                    <a class="pagination-link">
                        <span>&laquo;</span>
                    </a>
                </button>
                <li class="pagination-item" [ngClass]="{'active-page': currentPage == page}" (click)="getBrandsByPages(page)" *ngFor="let page of numberOfPages"><a class="pagination-link">{{page}}</a></li>
    
                <button class="btn pagination-item" (click)="getBrandsByPages(currentPage+1)" type="button" [disabled]="currentPage == numberOfPages.length">
                    <a class="pagination-link">
                        <span>&raquo;</span>
                    </a>
                </button>
            </ul>
        </nav>
    
    </div>