<section class="container-fluid d-flex justify-content-center mt-3 mt-lg-0">

    <form [formGroup]="changePasswordForm" class=" flex-grow-0 w-75 mx-auto" (ngSubmit)="handleChangePassword()">

        <label for="currentPassword">Current Password :</label>
        <input formControlName="currentPassword" autocomplete="current-password" type="password" id="currentPassword" [ngClass]="{'is-invalid': changePasswordForm.get('currentPassword')?.touched && changePasswordForm.get('currentPassword')?.errors}"
            class="form-control registerInput" placeholder="Current Password.." (input)="inputChange($event)">
        <div class="alert alert-danger rounded-3 text-center shadow"
            *ngIf=" (changePasswordForm.get('currentPassword')?.touched || changePasswordForm.get('currentPassword')?.value?.length > 0) && changePasswordForm.get('currentPassword')?.errors">
            <p *ngIf="changePasswordForm.get('currentPassword')?.getError('required')"> Current Password is required</p>
        </div>

        <label for="password">New Password :</label>
        <input formControlName="password" autocomplete="new-password" type="password" id="password" [ngClass]="{'is-invalid': (changePasswordForm.get('password')?.touched || changePasswordForm.get('password')?.value?.length > 0) && changePasswordForm.get('password')?.errors ,
        'is-valid': changePasswordForm.get('password')?.value?.length > 0 && !changePasswordForm.get('password')?.errors}"
            class="form-control registerInput" placeholder="New Password..." (input)="inputChange($event)">
        <div class="alert alert-danger rounded-3 text-center shadow"
            *ngIf=" (changePasswordForm.get('password')?.touched || changePasswordForm.get('password')?.value?.length > 0) && changePasswordForm.get('password')?.errors">
            <p *ngIf="changePasswordForm.get('password')?.getError('required')"> New Password is required</p>
            <p *ngIf="changePasswordForm.get('password')?.getError('pattern')"> New Password must start with upperCase then
                length from 6 to 20</p>
        </div>

        <label for="rePassword">Re-Type New Password :</label>
        <input formControlName="rePassword" type="password" id="rePassword" [ngClass]="{'is-invalid': (changePasswordForm.get('rePassword')?.touched || changePasswordForm.get('rePassword')?.value?.length > 0) && changePasswordForm.get('rePassword')?.errors ,
        'is-valid': changePasswordForm.get('rePassword')?.value?.length > 0 && !changePasswordForm.get('rePassword')?.errors}"
            class="form-control registerInput" placeholder="Re-Type New Password..." (input)="inputChange($event)">
        <div class="alert alert-danger rounded-3 text-center shadow"
            *ngIf=" (changePasswordForm.get('rePassword')?.touched || changePasswordForm.get('rePassword')?.value?.length > 0) && changePasswordForm.get('rePassword')?.errors">
            <p *ngIf="changePasswordForm.get('rePassword')?.getError('required')"> Re-Type Password is required</p>
            <p *ngIf="changePasswordForm.get('rePassword')?.getError('mismatch')"> Passwords must match</p>
        </div>


        <div class="text-center">
            <button type="submit" [disabled]="changePasswordForm.invalid" class="btn-main mt-4 ">
                <span *ngIf="isLoading"><i class="fa-solid fa-spinner fa-spin"></i></span> Change Password
            </button>
        </div>

    </form>

</section>

