@import '../../../styles.scss';


.orders {
    @include product();

    .orders-container {
        padding: 30px 0px;
        padding-top: 0;

        .price-text {
            @include priceText();
            font-size: 18px;
        }
        .order-number {
            background-color: $main-lighter;
            padding: 10px;
            border-radius: 0px 0px 0px 30px;
            font-size: 18px;
        }

        .orders-container {
            position: relative;
            margin: 10px 0px;

            ul {
                padding-left: 0px;


                li {
                    margin-bottom: 10px;
                    border-radius: 20px;
                    overflow: hidden;
                    background: #F8F9FA;
                    box-shadow: 3px 3px 8px #dfe0e1,
                        -3px -3px 8px #ffffff;

                    .img-cover {
                        box-shadow: 0 0 2px $main-color;
                    }

                    p {
                        margin: 5px 0px;

                        span {
                            color: $main-color;
                        }
                    }

                    &:hover {
                        box-shadow: -3px -3px 8px #dfe0e1,
                            3px 3px 8px #ffffff;
                    }
                }
            }
        }

    }
}

table{
    border-color: transparent;
    border-style: unset;
    border-width: 0;
    *{
        border-color: transparent;
        border-style: unset;
        border-width: 0;
    }
}


@media screen and (min-width: 1200px) {
    .products-container {
        img {
            width: 75% !important;
        }
    }
}

@media (max-width: 768px){
    .container, .container-sm {
        max-width: 95%;
    }
}

@media (max-width: 730px){
    .orders-container>div {
        flex-direction: column;
        button{
            margin-bottom: 10px;
        }
    }

}


@media screen and (max-width: 470px) {
    .orders {
        padding: 40px 10px !important;
    }
}

