<section class="container my-5 bg-white p-5 rounded-4 shadow">
    <div class="section-title">Reset Password</div>
    <form [formGroup]="resetPassForm" class="authForm px-0 px-md-5 mx-auto" (ngSubmit)="handleReset()">

        <div class="alert alert-danger rounded-3 text-center shadow"
            *ngIf=" responseMsg?.statusMsg == 'fail' ">
            <p>{{responseMsg?.message}}</p>
        </div>

        <label for="email">E-Mail :</label>
        <input formControlName="email" type="email" id="email" [ngClass]="{'is-invalid': (resetPassForm.get('email')?.touched || resetPassForm.get('email')?.value?.length > 0) && resetPassForm.get('email')?.errors ,
    'is-valid': resetPassForm.get('email')?.touched && !resetPassForm.get('email')?.errors}"
            class="form-control registerInput" placeholder="E-mail ..." (input)="inputChange($event)">

        <div class="alert alert-danger rounded-3 text-center shadow"
            *ngIf=" resetPassForm.get('email')?.touched && resetPassForm.get('email')?.errors">
            <p *ngIf="resetPassForm.get('email')?.getError('required')">⚠️ E-mail is required</p>
            <p *ngIf="resetPassForm.get('email')?.getError('email')">⚠️ E-mail must be valid</p>
        </div>

        <label for="newPassword">New Password :</label>
        <input formControlName="newPassword" type="password" id="newPassword" [ngClass]="{'is-invalid': (resetPassForm.get('newPassword')?.touched || resetPassForm.get('newPassword')?.value?.length > 0) && resetPassForm.get('newPassword')?.errors ,
        'is-valid': resetPassForm.get('newPassword')?.value?.length > 0 && !resetPassForm.get('newPassword')?.errors}"
            class="form-control registerInput" placeholder="New Password ..." (input)="inputChange($event)">
        <div class="alert alert-danger rounded-3 text-center shadow"
            *ngIf=" (resetPassForm.get('newPassword')?.touched || resetPassForm.get('newPassword')?.value?.length > 0) && resetPassForm.get('newPassword')?.errors">
            <p *ngIf="resetPassForm.get('newPassword')?.getError('required')">⚠️ New Password is required</p>
            <p *ngIf="resetPassForm.get('newPassword')?.getError('pattern')">⚠️ Password must start with upperCase then
                length from 6 to 20</p>
        </div>

        <div class="d-flex justify-content-end align-items-center mt-4 ">
            <button type="submit" [disabled]="resetPassForm.invalid" class="btn-main ">
                <span *ngIf="isLoading"><i class="fa-solid fa-spinner fa-spin"></i></span> Reset Password
            </button>
        </div>

    </form>
</section>